section {
    max-width: 800px; margin: 20px auto
}


h2 {
    margin-top: 70px;
}


h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

img.company_logo {
width: 100px; margin-top: 20px; margin-bottom: 5px
}